extends layout

block content-dif
 style body {text-align:center;}
 p To the World:
 p I am a member of the Internet Defence Leage.
 p I believe in a free and open internet - one that is free of government or corporate cencorship.
 p If the internet comes under attack - like it has recently all over the world - I will stand in its defence.
 p I hope you'll stand with me.

 p Sincerely,
 a(href="/") Mohammad Adil

 div#img

 p for more information visit 
  | <a href="http://internetdefenseleague.org/" target="_blank"> Internet Defence League </a>
