extends layout

block content-gsoc
 h3 About Google Summer of Code
 p Google has introduced Google Summer of Code where student developers aged 18 and older
  | are provided with stipend to write code for various open source software.
 p To learn more go the following page :
 a(href="http://code.google.com/soc/") Google Summer of Code - Google Code
 p Here is an attempt to get you the most of it through this web app.
 h3 Updates
 p ! App under construction.
